################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Helloworld/.vs
/Helloworld/bin/Debug/net8.0
/Helloworld/obj
/SWP391.HomePage.FA24/.vs/SWP391.HomePage.FA24/FileContentIndex/0ebfd2bc-3082-482c-ada7-b338611bdddb.vsidx
/SWP391.HomePage.FA24/KMG.Repository/bin/Debug/net8.0/KMG.Repository.dll
/SWP391.HomePage.FA24/KMG.Repository/bin/Debug/net8.0/KMG.Repository.pdb
/SWP391.HomePage.FA24/KMG.Repository/obj/Debug/net8.0/ref/KMG.Repository.dll
/SWP391.HomePage.FA24/KMG.Repository/obj/Debug/net8.0/refint/KMG.Repository.dll
/SWP391.HomePage.FA24/KMG.Repository/obj/Debug/net8.0/KMG.Repository.AssemblyInfo.cs
/SWP391.HomePage.FA24/KMG.Repository/obj/Debug/net8.0/KMG.Repository.AssemblyInfoInputs.cache
/SWP391.HomePage.FA24/KMG.Repository/obj/Debug/net8.0/KMG.Repository.assets.cache
/SWP391.HomePage.FA24/KMG.Repository/obj/Debug/net8.0/KMG.Repository.csproj.CoreCompileInputs.cache
/SWP391.HomePage.FA24/KMG.Repository/obj/Debug/net8.0/KMG.Repository.csproj.FileListAbsolute.txt
/SWP391.HomePage.FA24/KMG.Repository/obj/Debug/net8.0/KMG.Repository.dll
/SWP391.HomePage.FA24/KMG.Repository/obj/Debug/net8.0/KMG.Repository.GeneratedMSBuildEditorConfig.editorconfig
/SWP391.HomePage.FA24/KMG.Repository/obj/Debug/net8.0/KMG.Repository.genruntimeconfig.cache
/SWP391.HomePage.FA24/KMG.Repository/obj/Debug/net8.0/KMG.Repository.pdb
*.json
/SWP391.HomePage.FA24/KMG.Repository/obj/KMG.Repository.csproj.nuget.dgspec.json
/SWP391.HomePage.FA24/KMG.Repository/obj/project.assets.json
/SWP391.HomePage.FA24/KMG.Repository/obj/project.nuget.cache
/SWP391.HomePage.FA24/KMS.APIService/bin/Debug/net8.0/KMG.Repository.dll
/SWP391.HomePage.FA24/KMS.APIService/bin/Debug/net8.0/KMG.Repository.pdb
/SWP391.HomePage.FA24/KMS.APIService/bin/Debug/net8.0/KMS.APIService.dll
/SWP391.HomePage.FA24/KMS.APIService/bin/Debug/net8.0/KMS.APIService.exe
/SWP391.HomePage.FA24/KMS.APIService/bin/Debug/net8.0/KMS.APIService.pdb
/SWP391.HomePage.FA24/KMS.APIService/obj/Debug/net8.0/ref/KMS.APIService.dll
/SWP391.HomePage.FA24/KMS.APIService/obj/Debug/net8.0/refint/KMS.APIService.dll
/SWP391.HomePage.FA24/KMS.APIService/obj/Debug/net8.0/ApiEndpoints.json
/SWP391.HomePage.FA24/KMS.APIService/obj/Debug/net8.0/apphost.exe
/SWP391.HomePage.FA24/KMS.APIService/obj/Debug/net8.0/KMS.APIService.AssemblyInfo.cs
/SWP391.HomePage.FA24/KMS.APIService/obj/Debug/net8.0/KMS.APIService.AssemblyInfoInputs.cache
/SWP391.HomePage.FA24/KMS.APIService/obj/Debug/net8.0/KMS.APIService.assets.cache
/SWP391.HomePage.FA24/KMS.APIService/obj/Debug/net8.0/KMS.APIService.csproj.AssemblyReference.cache
/SWP391.HomePage.FA24/KMS.APIService/obj/Debug/net8.0/KMS.APIService.csproj.CoreCompileInputs.cache
/SWP391.HomePage.FA24/KMS.APIService/obj/Debug/net8.0/KMS.APIService.csproj.FileListAbsolute.txt
/SWP391.HomePage.FA24/KMS.APIService/obj/Debug/net8.0/KMS.APIService.dll
/SWP391.HomePage.FA24/KMS.APIService/obj/Debug/net8.0/KMS.APIService.GeneratedMSBuildEditorConfig.editorconfig
/SWP391.HomePage.FA24/KMS.APIService/obj/Debug/net8.0/KMS.APIService.genruntimeconfig.cache
/SWP391.HomePage.FA24/KMS.APIService/obj/Debug/net8.0/KMS.APIService.pdb
/SWP391.HomePage.FA24/KMS.APIService/obj/KMS.APIService.csproj.nuget.dgspec.json
/SWP391.HomePage.FA24/KMS.APIService/obj/project.assets.json
/SWP391.HomePage.FA24/KMS.APIService/obj/project.nuget.cache
/SWP391.HomePage.FA24/.vs/SWP391.HomePage.FA24/DesignTimeBuild/.dtbcache.v2
/SWP391.HomePage.FA24/.vs/ProjectEvaluation/swp391.homepage.fa24.metadata.v9.bin
/SWP391.HomePage.FA24/.vs/ProjectEvaluation/swp391.homepage.fa24.projects.v9.bin
/SWP391.HomePage.FA24/.vs/ProjectEvaluation/swp391.homepage.fa24.strings.v9.bin
/SWP391.HomePage.FA24/.vs/SWP391.HomePage.FA24/FileContentIndex/0ebfd2bc-3082-482c-ada7-b338611bdddb.vsidx
/SWP391.HomePage.FA24/.vs/SWP391.HomePage.FA24/FileContentIndex/4d6b4ac1-68bd-4caf-bb86-4c11992c2199.vsidx
*.vsidx
/SWP391.HomePage.FA24/.vs/SWP391.HomePage.FA24/FileContentIndex/a6e419a6-f465-4b8d-b898-977a372d4192.vsidx
/SWP391.HomePage.FA24/.vs/SWP391.HomePage.FA24/FileContentIndex/db8f77f5-1001-4803-ac4e-f180d63916e7.vsidx
/SWP391.HomePage.FA24/.vs/SWP391.HomePage.FA24/v17/.futdcache.v2
/SWP391.HomePage.FA24/.vs/SWP391.HomePage.FA24/v17/.suo
/SWP391.HomePage.FA24/.vs/SWP391.HomePage.FA24/v17/DocumentLayout.backup.json
/SWP391.HomePage.FA24/.vs/SWP391.HomePage.FA24/v17/DocumentLayout.json
